<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->

    <bean id="draw2d" class="task1.Draw2d"/>

    <bean id="draw3d" class="task1.Draw3d"/>

    <bean id="circle"
          class="task1.Circle">
        <constructor-arg ref="draw2d"/>
        <constructor-arg ref="draw3d"/>
    </bean>

    <bean id="square" class="task1.Square" scope="prototype">
        <property name="drawShapeFor2d" ref="draw2d"/>
        <property name="drawShapeFor3d" ref="draw3d"/>
    </bean>



    <bean id="databaseOperations" class="task2.DatabaseOperations">
    </bean>

    <bean id="init_destroy"
          class="task2.DatabaseOperations" init-method="connectToDatabase"  destroy-method="disconnectFromDatabase">
    </bean>



</beans>





