<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">







    <!-- Define your beans here -->
    <bean id="draw2d" class="task1.Draw2d"/>
    <bean id="draw3d" class="task1.Draw3d"/>

    <bean id="circle"
          class="task1.Circle">
        <constructor-arg ref="draw2d"/>
        <constructor-arg ref="draw3d"/>
    </bean>

    <bean id="square"
          class="task1.Square">
        <constructor-arg ref="draw2d"/>
        <constructor-arg ref="draw3d"/>
    </bean>

    <context:property-placeholder location="classpath:application.properties"/>
    <bean id="databaseOperations" class="task2.DatabaseOperations">
        <constructor-arg value="${database.url}"/>
        <constructor-arg value="${database.username}"/>
        <constructor-arg value="${database.password}"/>
    </bean>

    <bean id="car" class="task2.Car">
        <constructor-arg ref="databaseOperations"/>
        <property name="brand" value="Toyota"/>
    </bean>

    <bean id="plane" class="task2.Plane">
        <property name="databaseOperations" ref="databaseOperations"/>
        <property name="brand" value="Boeing"/>
    </bean>




</beans>





